<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Boholand</title>
  </head>
  <body>
    <header class="barra">
      <h1 class="barra__titulo">Boholand</h1>
      <nav class="barra__nav">
        <ul class="barra__nav__links">
          <li><a href="../index.html">Home</a></li>
          <li><a href="./quienessomos.html">Quienes Somos</a></li>
          <li><a href="./coleccion.html">Colección</a></li>
          <li><a href="./diy.html">DIY</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="formularioconsultas">
        <h2 class="tituloprincipal">Consultas</h2>
        <form
          action="./index.js"
          method="post"
          class="formularioconsultas__grilla"
        >
          <label for="nombre">Nombre y Apellido</label>
          <br />
          <input type="text" name="nombre" />
          <br />
          <label for="email">Email</label>
          <br />
          <input type="email" name="email" />
          <br />
          <label for="telefono">Teléfono</label>
          <br />
          <input type="number" name="telefono" />
          <br />
          <label for="consulta">Consultas</label>
          <br />
          <textarea name="consulta" id="" cols="30" rows="10"></textarea>
          <br />
          <button type="submit">Enviar</button>
        </form>
      </section>
    </main>
    <footer class="pie">
      <img src="../multimedia/Boholandlogopng1.png" alt="logo de boholand" />
      <h3 class="frase">A collection of things we love</h3>
      <section class="redessociales">
        <a href="https://www.instagram.com"
          ><img src="../multimedia/logoinsta 2.png" alt="link a instagram"
        /></a>
        <a href="https://www.facebook.com"
          ><img src="../multimedia/facebooklogopng1.png" alt="link a facebook"
        /></a>
        <a href="https://www.whatsapp.com"
          ><img src="../multimedia/logowhatsapp1.png" alt="link a whatsapp"
        /></a>
      </section>
    </footer>
  </body>
</html>